<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/dataset_airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_airbnb = pd.read_csv('listings.csv')

In [ ]:
df_airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [ ]:
df_airbnb['room_type'].value_counts()

Entire home/apt    3701
Private room       1747
Hotel room           87
Shared room          21
Name: room_type, dtype: int64

In [ ]:
df_airbnb['neighbourhood'].value_counts()

Centrum-West                              870
De Baarsjes - Oud-West                    803
Centrum-Oost                              618
De Pijp - Rivierenbuurt                   553
Westerpark                                371
Zuid                                      366
Oud-Oost                                  313
Oud-Noord                                 251
Bos en Lommer                             248
Oostelijk Havengebied - Indische Buurt    205
IJburg - Zeeburgereiland                  160
Watergraafsmeer                           147
Noord-West                                136
Slotervaart                               101
Noord-Oost                                 93
Geuzenveld - Slotermeer                    83
Buitenveldert - Zuidas                     56
De Aker - Nieuw Sloten                     50
Gaasperdam - Driemond                      44
Osdorp                                     36
Bijlmer-Centrum                            33
Bijlmer-Oost                               19
Name: neighbourhood, dtype: int64

In [ ]:
df_reviews = df_airbnb[df_airbnb.neighbourhood == "Centrum-West"].pivot_table(
    index=["neighbourhood",
           "room_type",
           ],
    values=["number_of_reviews"],
    aggfunc="sum"
)
df_reviews.sort_values("number_of_reviews", ascending=False)

                               number_of_reviews
neighbourhood room_type
Centrum-West  Private room                 42542
              Entire home/apt              15712
              Hotel room                    2188
              Shared room                    610

In [ ]:
df_test = df_airbnb.query('neighbourhood == "Centrum-West"')

In [ ]:
df_test_2 = df_test.query('room_type == "Shared room"')

In [ ]:
df_test_2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
222,987355,Nice Room in Centre Amsterdam,5417945,Hamed,NaN,Centrum-West,52.37486,4.89338,Shared room,80,2,306,2020-01-31,3.01,1,335,6,0363 E503 C481 F855 154F
3407,31945123,Bed in 6 Bed Dorm Ensuite,237150996,St Christophers At The Winston,NaN,Centrum-West,52.37392,4.89635,Shared room,25,1,100,2019-12-17,3.53,9,0,0,Exempt
3409,31945260,Bed in 8 Bed Dorm Ensuite,237150996,St Christophers At The Winston,NaN,Centrum-West,52.37392,4.89635,Shared room,22,1,170,2020-01-26,5.99,9,0,0,Exempt
3418,32067350,"New! Beautiful large Houseboat ""AZARA""",198405490,Suzanne,NaN,Centrum-West,52.37878,4.88724,Shared room,325,2,32,2021-09-25,1.13,6,81,13,0363 5A08 DDE3 0993 63A2
4226,41339519,Bed in 6 POD Dorm Ensuite,237150996,St Christophers At The Winston,NaN,Centrum-West,52.37392,4.89635,Shared room,27,1,1,2020-02-17,0.05,9,0,0,Exempt
4251,41709087,Bed in 10 POD Dorm Ensuite,237150996,St Christophers At The Winston,NaN,Centrum-West,52.37392,4.89635,Shared room,24,1,1,2020-02-02,0.04,9,0,0,Exempt

In [ ]:
df_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,60,3,285,2021-11-21,2.83,1,70,7,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,106,1,339,2020-03-27,3.53,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,135,2,226,2021-10-20,2.11,1,8,7,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,370,2021-11-25,4.63,2,238,34,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,55,2,520,2021-11-26,5.57,2,267,41,0363 607B EA74 0BD8 2F6F