<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/dataset_airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df_airbnb = pd.read_csv('listings.csv')

In [5]:
df_airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [6]:
df_airbnb['room_type'].value_counts()

Entire home/apt    3701
Private room       1747
Hotel room           87
Shared room          21
Name: room_type, dtype: int64

In [7]:
df_airbnb['neighbourhood'].value_counts()

Centrum-West                              870
De Baarsjes - Oud-West                    803
Centrum-Oost                              618
De Pijp - Rivierenbuurt                   553
Westerpark                                371
Zuid                                      366
Oud-Oost                                  313
Oud-Noord                                 251
Bos en Lommer                             248
Oostelijk Havengebied - Indische Buurt    205
IJburg - Zeeburgereiland                  160
Watergraafsmeer                           147
Noord-West                                136
Slotervaart                               101
Noord-Oost                                 93
Geuzenveld - Slotermeer                    83
Buitenveldert - Zuidas                     56
De Aker - Nieuw Sloten                     50
Gaasperdam - Driemond                      44
Osdorp                                     36
Bijlmer-Centrum                            33
Bijlmer-Oost                               19
Name: neighbourhood, dtype: int64

In [8]:
df_reviews = df_airbnb[df_airbnb.neighbourhood == "Centrum-West"].pivot_table(
    index=["neighbourhood",
           "room_type",
           ],
    values=["number_of_reviews"],
    aggfunc="sum"
)
df_reviews.sort_values("number_of_reviews", ascending=False)

                               number_of_reviews
neighbourhood room_type
Centrum-West  Private room                 42542
              Entire home/apt              15712
              Hotel room                    2188
              Shared room                    610

In [10]:
df_reviews_two = df_airbnb[df_airbnb.neighbourhood == "Centrum-West"].pivot_table(
    index=["neighbourhood",
           "room_type",
           ],
    values=["price"],
    aggfunc="sum"
)
df_reviews_two.sort_values("price", ascending=False)

                                price
neighbourhood room_type
Centrum-West  Entire home/apt  106094
              Private room      50285
              Hotel room         2524
              Shared room         503

In [ ]:
df_test = df_airbnb.query('neighbourhood == "Centrum-West"')

In [ ]:
df_test_2 = df_test.query('room_type == "Shared room"')

In [ ]:
df_test_2

In [ ]:
df_airbnb.head()