<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/exercise2_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [ ]:
dolar_df = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/dolar_oficial_ambito.csv')

In [ ]:
dolar_df

           fecha  compra  venta
0     05-08-2020   71.89  76.89
1     04-08-2020   71.69  76.69
2     03-08-2020   71.64  76.64
3     31-07-2020   71.39  76.39
4     30-07-2020   71.27  76.27
...          ...     ...    ...
1263  05-06-2015    8.98   9.03
1264  04-06-2015    8.97   9.02
1265  03-06-2015    8.97   9.02
1266  02-06-2015    8.97   9.02
1267  01-06-2015    8.96   9.01

[1268 rows x 3 columns]

In [ ]:
dolar_df['Promedio'] = dolar_df.loc[:,['compra', 'venta']].mean(axis=1)

In [ ]:
dolar_df

           fecha  compra  venta  Promedio
0     05-08-2020   71.89  76.89    74.390
1     04-08-2020   71.69  76.69    74.190
2     03-08-2020   71.64  76.64    74.140
3     31-07-2020   71.39  76.39    73.890
4     30-07-2020   71.27  76.27    73.770
...          ...     ...    ...       ...
1263  05-06-2015    8.98   9.03     9.005
1264  04-06-2015    8.97   9.02     8.995
1265  03-06-2015    8.97   9.02     8.995
1266  02-06-2015    8.97   9.02     8.995
1267  01-06-2015    8.96   9.01     8.985

[1268 rows x 4 columns]