<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/exercise_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
ipc_df = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/ipc_indec.csv')

In [ ]:
ipc_df.head()

In [15]:
pd.melt(ipc_df,
        id_vars=['Apertura']
        ).head()

        Apertura variable  value
0  Nivel general   Dec-16  100.0
1     Estacional   Dec-16  100.0
2         Núcleo   Dec-16  100.0
3      Regulados   Dec-16  100.0
4  Nivel general   Jan-17  101.6

In [16]:
ipc_df2 = pd.melt(ipc_df,
                  id_vars = ['Apertura'],
                  var_name = 'Fecha',
                  value_name = 'Indice'
                  )

In [17]:
ipc_df2

          Apertura   Fecha  Indice
0    Nivel general  Dec-16   100.0
1       Estacional  Dec-16   100.0
2           Núcleo  Dec-16   100.0
3        Regulados  Dec-16   100.0
4    Nivel general  Jan-17   101.6
..             ...     ...     ...
167      Regulados  May-20   329.4
168  Nivel general  Jun-20   322.0
169     Estacional  Jun-20   313.6
170         Núcleo  Jun-20   320.6
171      Regulados  Jun-20   331.8

[172 rows x 3 columns]