<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/exercise_class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

plt.style.use('ggplot')
%matplotlib inline

In [ ]:
ESTIMACIONES_URL = "http://datos.agroindustria.gob.ar/dataset/9e1e77ba-267e-4eaa-a59f-3296e86b5f36/resource/95d066e6-8a0f-4a80-b59d-6f28f88eacd5/download/estimaciones-agricolas-al-30-09-2019.csv"
ESTIMACIONES_URL_S3 = "https://datasets-humai.s3.amazonaws.com/datasets/estimaciones_agricolas.zip"
ESTIMACIONES_PATH = "data/estimaciones-agricolas.csv"

In [ ]:
converters = {
    "id_provincia": lambda x: str(x).zfill(2),
    "id_departamento": lambda x: str(x).zfill(3),
}

#estimaciones = pd.read_csv(ESTIMACIONES_URL, encoding="latin1", converters=converters)estimaciones = pd.read_csv(ESTIMACIONES_URL, encoding="latin1", converters=converters)
estimaciones = pd.read_csv(ESTIMACIONES_URL_S3, encoding="utf8", converters=converters)
#estimaciones.to_csv(ESTIMACIONES_PATH, encoding="utf8", index=False)
#estimaciones = pd.read_csv(ESTIMACIONES_PATH, converters=converters)

In [ ]:
estimaciones.columns

Index(['id_provincia', 'provincia', 'id_departamento', 'departamento',
       'id_cultivo', 'cultivo', 'id_campaña', 'campaña', 'sup_sembrada ',
       'sup_cosechada', 'produccion ', 'rendimiento'],
      dtype='object')

In [ ]:
estimaciones['produccion ']

0          10
1           3
2          82
3          55
4          44
         ...
136046     59
136047     60
136048    130
136049     59
136050     58
Name: produccion , Length: 136051, dtype: int64

In [ ]:
estimaciones

,id_provincia,provincia,id_departamento,departamento,id_cultivo,cultivo,id_campaña,campaña,sup_sembrada,sup_cosechada,produccion,rendimiento
0,06,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/1970,3,3,10,3333
1,06,BUENOS AIRES,854,25 DE MAYO,1,Ajo,2,1970/1971,1,1,3,3000
2,06,BUENOS AIRES,014,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/1970,15,15,82,5467
3,06,BUENOS AIRES,014,ADOLFO GONZALES CHAVES,1,Ajo,2,1970/1971,10,10,55,5500
4,06,BUENOS AIRES,014,ADOLFO GONZALES CHAVES,1,Ajo,3,1971/1972,8,8,44,5500
...,...,...,...,...,...,...,...,...,...,...,...,...
136046,90,TUCUMAN,112,TRANCAS,1,Ajo,25,1993/1994,15,13,59,4538
136047,90,TUCUMAN,112,TRANCAS,1,Ajo,26,1994/1995,15,13,60,4615
136048,90,TUCUMAN,112,TRANCAS,1,Ajo,27,1995/1996,15,15,130,8667
136049,90,TUCUMAN,112,TRANCAS,1,Ajo,28,1996/1997,15,13,59,4538
136050,90,TUCUMAN,112,TRANCAS,1,Ajo,29,1997/1998,15,13,58,4462