<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/repaso_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('http://data.insideairbnb.com/the-netherlands/north-holland/amsterdam/2022-03-08/visualisations/listings.csv')

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,49,3,285,2021-11-21,1.81,1,62,7,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,106,1,339,2020-04-09,2.30,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,134,2,228,2022-02-20,1.84,1,189,9,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,379,2022-03-05,2.70,2,146,43,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,55,2,532,2022-03-04,3.98,2,170,53,0363 607B EA74 0BD8 2F6F

In [13]:
df.groupby('neighbourhood').aggregate({'price':['mean','median','size']})

                                             price
                                              mean median size
neighbourhood
Bijlmer-Centrum                         116.135135  100.0   37
Bijlmer-Oost                            129.600000  115.5   20
Bos en Lommer                           138.799197  120.0  249
Buitenveldert - Zuidas                  150.383562  115.0   73
Centrum-Oost                            214.106732  160.0  609
Centrum-West                            194.198606  153.0  861
De Aker - Nieuw Sloten                  142.796875  100.0   64
De Baarsjes - Oud-West                  179.692584  149.0  836
De Pijp - Rivierenbuurt                 183.252220  159.0  563
Gaasperdam - Driemond                   102.739130   85.0   46
Geuzenveld - Slotermeer                 144.244898  119.0   98
IJburg - Zeeburgereiland                175.226190  142.0  168
Noord-Oost                              143.816000  119.0  125
Noord-West                              132.514706  129.5  136
Oostelijk Havengebied - Indische Buurt  141.676329  125.0  207
Osdorp                                  124.279070  100.0   43
Oud-Noord                               183.963563  140.0  247
Oud-Oost                                155.429032  140.0  310
Slotervaart                             114.414894   98.0   94
Watergraafsmeer                         153.765306  139.0  196
Westerpark                              169.646438  144.0  379
Zuid                                    190.159030  150.0  371

In [10]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.364350,4.943580,Private room,49,3,285,2021-11-21,1.81,1,62,7,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.364070,4.893930,Private room,106,1,339,2020-04-09,2.30,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.387610,4.891880,Private room,134,2,228,2022-02-20,1.84,1,189,9,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.367750,4.890920,Private room,75,2,379,2022-03-05,2.70,2,146,43,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.365840,4.891110,Private room,55,2,532,2022-03-04,3.98,2,170,53,0363 607B EA74 0BD8 2F6F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5727,54326252,"Cinema room with beamer, surround sound and pr...",342059962,David,NaN,Geuzenveld - Slotermeer,52.385820,4.831710,Private room,119,1,0,NaN,NaN,16,319,0,Exempt
5728,54326276,The Sixpack - 6 person bunkbed room.,342059962,David,NaN,Geuzenveld - Slotermeer,52.385670,4.831610,Private room,206,1,3,2022-02-28,3.00,16,359,3,Exempt
5729,552745262656654391,Budget Family Studio - 4 person room with 2 do...,342059962,David,NaN,Geuzenveld - Slotermeer,52.385990,4.833680,Private room,181,1,1,2022-02-13,1.00,16,329,1,Exempt
5730,556914334042444196,Cozy house near Amsterdam,169176698,Igor,NaN,IJburg - Zeeburgereiland,52.348350,4.978880,Entire home/apt,90,3,0,NaN,NaN,1,8,0,NaN
5731,561230877774534784,Mooi appartement met gratis parkeren voor de d...,444769693,Yerson,NaN,IJburg - Zeeburgereiland,52.353333,4.975411,Entire home/apt,90,1,0,NaN,NaN,1,268,0,NaN