<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/repaso_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://data.insideairbnb.com/the-netherlands/north-holland/amsterdam/2022-03-08/visualisations/listings.csv')

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,49,3,285,2021-11-21,1.81,1,62,7,0363 5F3A 5684 6750 D14D
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,106,1,339,2020-04-09,2.30,2,0,0,0363 CBB3 2C10 0C2A 1E29
2,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,134,2,228,2022-02-20,1.84,1,189,9,0363 974D 4986 7411 88D8
3,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,379,2022-03-05,2.70,2,146,43,0363 607B EA74 0BD8 2F6F
4,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,55,2,532,2022-03-04,3.98,2,170,53,0363 607B EA74 0BD8 2F6F

In [4]:
df.groupby('neighbourhood').aggregate({'price':['mean','median','size']})

                                             price
                                              mean median size
neighbourhood
Bijlmer-Centrum                         116.135135  100.0   37
Bijlmer-Oost                            129.600000  115.5   20
Bos en Lommer                           138.799197  120.0  249
Buitenveldert - Zuidas                  150.383562  115.0   73
Centrum-Oost                            214.106732  160.0  609
Centrum-West                            194.198606  153.0  861
De Aker - Nieuw Sloten                  142.796875  100.0   64
De Baarsjes - Oud-West                  179.692584  149.0  836
De Pijp - Rivierenbuurt                 183.252220  159.0  563
Gaasperdam - Driemond                   102.739130   85.0   46
Geuzenveld - Slotermeer                 144.244898  119.0   98
IJburg - Zeeburgereiland                175.226190  142.0  168
Noord-Oost                              143.816000  119.0  125
Noord-West                              132.514706  129.5  136
Oostelijk Havengebied - Indische Buurt  141.676329  125.0  207
Osdorp                                  124.279070  100.0   43
Oud-Noord                               183.963563  140.0  247
Oud-Oost                                155.429032  140.0  310
Slotervaart                             114.414894   98.0   94
Watergraafsmeer                         153.765306  139.0  196
Westerpark                              169.646438  144.0  379
Zuid                                    190.159030  150.0  371

In [5]:
df[df["neighbourhood"].str.contains("noord",case=False)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
79,515088,Familyfriendly Suite incl breakfast,2536879,Hansje,NaN,Noord-Oost,52.39675,4.99603,Private room,120,2,2,2019-03-10,0.05,1,332,0,0363 0A94 AAA2 B228 0695
97,582382,Amsterdam Family Home,2868026,Emer,NaN,Oud-Noord,52.39442,4.91478,Entire home/apt,170,4,20,2019-12-27,0.17,1,0,0,0363 DAA7 B561 AC39 BB65
103,613088,Your own cottage in the countryside,3040748,Henk,NaN,Noord-Oost,52.41016,4.96369,Private room,87,1,378,2021-12-06,3.26,13,337,7,0363 C2FC D0FB 68D9 2F58
114,664697,Design Waterfront flat near station,1406783,Alicia,NaN,Oud-Noord,52.38537,4.90241,Entire home/apt,87,30,63,2018-06-30,0.55,2,314,0,Exempt
115,667305,"Green, sportive experience in A'dam",3375589,Fred Alexander,NaN,Noord-West,52.41878,4.89397,Entire home/apt,146,5,16,2021-08-17,0.15,1,365,1,0363 1466 FFED D078 9856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5704,49611297,Modern chalet at 7 min from Amsterdam CS,276062491,Steef,NaN,Noord-Oost,52.42329,4.95687,Entire home/apt,132,1,22,2022-02-20,2.21,3,310,22,NaN
5710,50359331,Luxe overnachten dichtbij Amsterdam en 't Twiske,406728648,Mike & Manon,NaN,Noord-West,52.42160,4.90868,Entire home/apt,125,2,11,2022-02-13,1.43,1,144,11,NaN
5714,50957764,Rural fire cottage next to Amsterdam,913437,Yael,NaN,Noord-Oost,52.42393,4.94975,Entire home/apt,150,3,2,2021-09-10,0.28,1,86,2,NaN
5718,52050333,Bed & Breakfast op mooiste plek van Waterland,405106044,Liesbeth,NaN,Noord-Oost,52.42020,5.06651,Private room,110,3,0,NaN,NaN,2,338,0,NaN
5725,54290750,Beautifull waterfront villa near Amsterdam,24153892,BoresMeike,NaN,Noord-Oost,52.41933,5.06903,Entire home/apt,360,3,1,2022-02-27,1.00,1,28,1,NaN

In [6]:
df.query('price > 100').shape

(4233, 18)

In [7]:
df.query('price > 200').shape

(1381, 18)

In [8]:
df.query('price > 200 & neighbourhood == "Noord-Oost"')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
484,2667413,Family house on shores Amsterdam IJ,3042726,Julius,NaN,Noord-Oost,52.38517,4.95610,Entire home/apt,239,5,14,2020-08-12,0.16,1,157,0,0363 B0AC 38B6 536E 0741
1548,13353566,Amsterdam City & Rural Life Combined. Free Par...,75415761,Iris,NaN,Noord-Oost,52.38531,4.95352,Private room,335,4,19,2019-06-17,0.36,4,282,0,0363 6C05 84EB 97A6 B302
2623,23493489,Amazing Dyke House in Amsterdam,9791621,Hugo,NaN,Noord-Oost,52.38012,4.99679,Entire home/apt,250,4,2,2018-08-13,0.04,1,0,0,0363 9DB3 EB68 BFC7 2806
3674,36163282,Spacious family dike house near city centre w/...,82235987,Pauke,NaN,Noord-Oost,52.38671,4.95849,Entire home/apt,240,7,0,NaN,NaN,1,0,0,0363 D1A2 EC07 867B 8337
3838,38370765,Green Amsterdam,6785196,Femke,NaN,Noord-Oost,52.38981,4.96062,Entire home/apt,233,2,2,2020-03-15,0.08,1,113,0,0363 F995 4F23 8525 BF6C
4214,42330275,Cozy apartment with private parking near center,336572860,Hesam,NaN,Noord-Oost,52.39776,4.93731,Entire home/apt,240,3,11,2021-11-14,0.43,1,0,8,ABCG1289CA1489FAA0Q9
4301,43495835,Captain Pippi; Amsterdam's finest Houseboat,53730026,Eveline,NaN,Noord-Oost,52.38390,4.96424,Entire home/apt,350,2,2,2021-06-20,0.10,1,90,1,0363 DF9D 63BC 07D5 F6F7
4642,47469046,Ruime familiewoning voor gezin met kleine kind...,888543,Jeff,NaN,Noord-Oost,52.40606,4.93459,Entire home/apt,299,3,0,NaN,NaN,1,251,0,0363 F842 C56F 4832 75EB
4738,49052224,Big cosy house 3 min from metro &7 min city ce...,7933602,Yulia,NaN,Noord-Oost,52.40286,4.92950,Entire home/apt,470,3,0,NaN,NaN,1,0,0,0363544B8E7480BF435B
4744,49120098,Spacious house with great views near the city!,6478619,Lucas,NaN,Noord-Oost,52.39026,4.99454,Entire home/apt,250,4,3,2021-10-24,0.30,1,38,3,0363 0B7D 4AA8 3306 3543
4941,50667689,Heerlijke luxe boot Amsterdam @catamaran_blue...,7447481,Lavina,NaN,Noord-Oost,52.37891,4.97205,Private room,450,1,1,2021-08-22,0.15,1,361,1,0363 26F0 407F 3D40 204D
5192,52588678,Prachtige woning in de stolp van de boerderij.,423135929,Angela,NaN,Noord-Oost,52.40470,4.96117,Entire home/apt,230,3,0,NaN,NaN,2,327,0,03636A1EF7853718031F
5369,53453495,"Stolpboerderij, landelijk Amsterdam met grote ...",432830158,Eugenie,NaN,Noord-Oost,52.38887,5.00132,Entire home/apt,400,3,0,NaN,NaN,1,109,0,0363 C2FB 46B2 7B8D 6910
5563,1353468,Spacious houseboat near Amsterdam,7346641,Matthijs & Juliette,NaN,Noord-Oost,52.42831,4.97889,Entire home/apt,220,3,55,2022-01-01,0.53,1,88,6,NaN
5649,35284613,Waterfront family villa Amsterdam Waterland,145684769,Bas,NaN,Noord-Oost,52.41831,5.07008,Entire home/apt,220,7,2,2020-07-14,0.06,1,242,0,NaN
5650,36728188,Cosy private house at 7 min AmsterdamCS+8 (e)b...,276062491,Steef,NaN,Noord-Oost,52.42540,4.95731,Entire home/apt,212,1,129,2022-03-01,4.09,3,258,53,NaN
5661,39496607,Large historic farm house at 7 min Amsterdam CS,276062491,Steef,NaN,Noord-Oost,52.42428,4.95771,Private room,629,3,3,2021-08-23,0.15,3,256,2,NaN
5725,54290750,Beautifull waterfront villa near Amsterdam,24153892,BoresMeike,NaN,Noord-Oost,52.41933,5.06903,Entire home/apt,360,3,1,2022-02-27,1.00,1,28,1,NaN

In [9]:
df.query('price > 220 & neighbourhood == "Noord-Oost"').shape

(15, 18)

In [10]:
df.query('price > 300 & neighbourhood == "Noord-Oost"').shape

(7, 18)

In [11]:
df.query('price > 400 & neighbourhood == "Centrum-Oost"').shape

(33, 18)

In [12]:
df.query('price > 300 & neighbourhood == "De Pijp - Rivierenbuurt"').shape

(51, 18)

In [13]:
df.query('price > 300 & neighbourhood == "Buitenveldert - Zuidas"').shape

(4, 18)

In [14]:
df.query('price > 300 & neighbourhood == "Zuid" & room_type == "Private room"').shape

(3, 18)

In [15]:
df.query('price > 400 & neighbourhood == "Zuid"').shape

(17, 18)

In [16]:
df_fil = df.query('price > 220 & neighbourhood == "Noord-Oost"')

In [17]:
df_fil

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
484,2667413,Family house on shores Amsterdam IJ,3042726,Julius,NaN,Noord-Oost,52.38517,4.95610,Entire home/apt,239,5,14,2020-08-12,0.16,1,157,0,0363 B0AC 38B6 536E 0741
1548,13353566,Amsterdam City & Rural Life Combined. Free Par...,75415761,Iris,NaN,Noord-Oost,52.38531,4.95352,Private room,335,4,19,2019-06-17,0.36,4,282,0,0363 6C05 84EB 97A6 B302
2623,23493489,Amazing Dyke House in Amsterdam,9791621,Hugo,NaN,Noord-Oost,52.38012,4.99679,Entire home/apt,250,4,2,2018-08-13,0.04,1,0,0,0363 9DB3 EB68 BFC7 2806
3674,36163282,Spacious family dike house near city centre w/...,82235987,Pauke,NaN,Noord-Oost,52.38671,4.95849,Entire home/apt,240,7,0,NaN,NaN,1,0,0,0363 D1A2 EC07 867B 8337
3838,38370765,Green Amsterdam,6785196,Femke,NaN,Noord-Oost,52.38981,4.96062,Entire home/apt,233,2,2,2020-03-15,0.08,1,113,0,0363 F995 4F23 8525 BF6C
4214,42330275,Cozy apartment with private parking near center,336572860,Hesam,NaN,Noord-Oost,52.39776,4.93731,Entire home/apt,240,3,11,2021-11-14,0.43,1,0,8,ABCG1289CA1489FAA0Q9
4301,43495835,Captain Pippi; Amsterdam's finest Houseboat,53730026,Eveline,NaN,Noord-Oost,52.38390,4.96424,Entire home/apt,350,2,2,2021-06-20,0.10,1,90,1,0363 DF9D 63BC 07D5 F6F7
4642,47469046,Ruime familiewoning voor gezin met kleine kind...,888543,Jeff,NaN,Noord-Oost,52.40606,4.93459,Entire home/apt,299,3,0,NaN,NaN,1,251,0,0363 F842 C56F 4832 75EB
4738,49052224,Big cosy house 3 min from metro &7 min city ce...,7933602,Yulia,NaN,Noord-Oost,52.40286,4.92950,Entire home/apt,470,3,0,NaN,NaN,1,0,0,0363544B8E7480BF435B
4744,49120098,Spacious house with great views near the city!,6478619,Lucas,NaN,Noord-Oost,52.39026,4.99454,Entire home/apt,250,4,3,2021-10-24,0.30,1,38,3,0363 0B7D 4AA8 3306 3543
4941,50667689,Heerlijke luxe boot Amsterdam @catamaran_blue...,7447481,Lavina,NaN,Noord-Oost,52.37891,4.97205,Private room,450,1,1,2021-08-22,0.15,1,361,1,0363 26F0 407F 3D40 204D
5192,52588678,Prachtige woning in de stolp van de boerderij.,423135929,Angela,NaN,Noord-Oost,52.40470,4.96117,Entire home/apt,230,3,0,NaN,NaN,2,327,0,03636A1EF7853718031F
5369,53453495,"Stolpboerderij, landelijk Amsterdam met grote ...",432830158,Eugenie,NaN,Noord-Oost,52.38887,5.00132,Entire home/apt,400,3,0,NaN,NaN,1,109,0,0363 C2FB 46B2 7B8D 6910
5661,39496607,Large historic farm house at 7 min Amsterdam CS,276062491,Steef,NaN,Noord-Oost,52.42428,4.95771,Private room,629,3,3,2021-08-23,0.15,3,256,2,NaN
5725,54290750,Beautifull waterfront villa near Amsterdam,24153892,BoresMeike,NaN,Noord-Oost,52.41933,5.06903,Entire home/apt,360,3,1,2022-02-27,1.00,1,28,1,NaN

In [18]:
df_filtwo = df.query('price > 220 & neighbourhood == "Noord-Oost" & host_name == "Lucas"')

In [19]:
df_filtwo

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
4744,49120098,Spacious house with great views near the city!,6478619,Lucas,NaN,Noord-Oost,52.39026,4.99454,Entire home/apt,250,4,3,2021-10-24,0.3,1,38,3,0363 0B7D 4AA8 3306 3543

In [20]:
df_filtwo = df.query('price > 220 & neighbourhood == "Noord-Oost" & number_of_reviews	> 10')

In [22]:
df_filtwo

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
484,2667413,Family house on shores Amsterdam IJ,3042726,Julius,NaN,Noord-Oost,52.38517,4.95610,Entire home/apt,239,5,14,2020-08-12,0.16,1,157,0,0363 B0AC 38B6 536E 0741
1548,13353566,Amsterdam City & Rural Life Combined. Free Par...,75415761,Iris,NaN,Noord-Oost,52.38531,4.95352,Private room,335,4,19,2019-06-17,0.36,4,282,0,0363 6C05 84EB 97A6 B302
4214,42330275,Cozy apartment with private parking near center,336572860,Hesam,NaN,Noord-Oost,52.39776,4.93731,Entire home/apt,240,3,11,2021-11-14,0.43,1,0,8,ABCG1289CA1489FAA0Q9